#/lib/systemd/system/bro.service
[Unit]
Description=Bro backend service
ConditionPathExists=<workdir>

[Service]
User=<user>
Group=<user>
Restart=always
RestartSec=3
WorkingDirectory=<workdir>
ExecStart=<goabsolutepath> run ./cmd/backend/main.go

[Install]
WantedBy=multi-user.target
